<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TR Motor Driving School</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<style type="text/css">
	.container-fluid{
			  padding-left: 0rem;
			  padding-right: 0rem;
			  overflow: hidden;
          }
    .i3{
		height: 20px;
		width: 20px;
		
		/*margin-left: 180px;*/
	}
	.cardbody{
		padding: 30px;
		margin-top: 20px;
	}
	.quick{
		padding-left: 20px;
		margin-top: 30px;
		
	}
	.hour{
		padding-left: 100px;
		margin-top: 30px;
	}
	.busin{
		padding-right: 10px;
		margin-top: 30px;
	}
	.navigation{
		
		margin-top: 30px;
	}
	.c5{
		background-color: black;
		color: white;
		padding: 20px;
		padding-left: 70px;
		height: 400px;

	}

	.nav-link{
   	color: white;
		transition: scale(1);
    }
      .nav-link:hover{
      	transform: scale(1.06);
      	color: yellow;
      }


.text-block {
  position: absolute;
  bottom: 390px;
  right: 430px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-link{
   	color: white;
		transition: scale(1);
    }
      .nav-link:hover{
      	transform: scale(1.06);
      	background-color: #ffc107;
      	color: black;
      }

  #btn_search{
   	color: white;
		transition: scale(1);
    }
      #btn_search:hover{
      	transform: scale(1.06);
      	background-color: #ffc107;
      	color: black;
      }

    .avatar {
		  vertical-align: middle;
		  width: 150px;
		  height: 150px;
		  border-radius: 50%;
		  align-content: center;
		}

		.i1 {
  height: 400px;
}

			
</style>

<body>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					     		 <img src="static/img/about.jpg" class="d-block w-100" height="750px" alt="...">
					     		 <div class="carousel-caption d-none d-md-block">
					     		 	<div class="text-block">
								    <center><h1 style="color:white;">ABOUT US</h1></center>
								  </div>
							       <p style="margin-bottom:230px;font-size:25px;color: white;font-family: 'Montserrat'">Ready For A Safe, Fun Driving Experience?<br><i style="color:#ffc107;font-family: 'Montserrat'">You want the driving school that is right for you then here it is.</i><br>Affordable, Effective and Convenient Driving Lessons in T.R Driving School!!!!</p>
							        
							      </div>
					    		</div>

					   <!--  <div class="carousel-item">
					      <img src="static/img/slide1.jpg" class="d-block w-100" height="750px" alt="...">
					      <div class="carousel-caption d-none d-md-block">
					        <h5>Second slide label</h5>
					        <p>Some representative placeholder content for the second slide.</p>
					      </div>
					    </div>
					    <div class="carousel-item">
					      <img src="static/img/slide3.jpg" class="d-block w-100" height="750px" alt="...">
					    </div> -->
					    <nav class="navbar navbar-expand-lg navbar bg-dark" >
					  <div class="container-fluid">
					    <a class="navbar-brand" href="#" style="color:white;">
					     <!--  <img src="static/img/trmds.png" alt="" width="80" height="80" class="d-inline-block align-text-top" style="margin-left:100px"> -->
					      <br>&nbsp;&nbsp;&nbsp;&nbsp;TR MOTOR DRIVING SCHOOL
					    </a>
					    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					      <span class="navbar-toggler-icon"></span>
					    </button>
					    <div class="collapse navbar-collapse" id="navbarSupportedContent">
					      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
					        <li class="nav-item">
					          <a class="nav-link active" aria-current="page" style="margin-left:110px " href="Home">HOME</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="About">ABOUT US</a>
					        </li>
					        <!-- <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="Courses.html">COURSES</a> 
					          <div class="nav-item dropdown">
                    <a href="Courses" class="nav-link dropdown" data-toggle="dropdown">COURSES</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Choosing a Driving School</a>
                        <a href="#" class="dropdown-item">Road Test preperation</a>
                        <a href="#" class="dropdown-item">Driving Basics</a>
                    </div>
                </div>
					        </li> -->
					        <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="Courses">COURSES</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="Testimonials">TESTIMONIALS</a>
					        </li>
					         <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="Schedule">SCHEDULE LESSONS</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="Contact">CONTACT US</a>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="Blog">BLOG</a>
					        </li>
					        <!-- <li class="nav-item dropdown">
					          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					            Dropdown
					          </a>
					          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					            <li><a class="dropdown-item" href="#">Action</a></li>
					            <li><a class="dropdown-item" href="#">Another action</a></li>
					            <li><hr class="dropdown-divider"></li>
					            <li><a class="dropdown-item" href="#">Something else here</a></li>
					          </ul>
					        </li>
					        <li class="nav-item">
					          <a class="nav-link disabled">Disabled</a>
					        </li>-->
					        <!-- <h6><img src="static/img/call.jpg" class="i3">: +91 8149650394</h6> -->
					      </ul> 
					      <form class="d-flex">
					        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					        <button class="btn btn-outline-light" id="btn_search"  style="margin-right: 20px;" type="submit">Search</button>
					      </form>
					    </div>
					  </div>


					</nav>
					<!-- navbar end -->
					<div class="heading">
						<strong><h1>Welcome to T.R Motor Driving School</h1></strong>
						
					</div>


		
					<!-- <section>
						<div class="container">
							<div class="row">
								<div class="col-md-6">
							<div class="card" style="width: 300px;height: 400px;">
								  <h5 class="card-header">Find Your Course</h5>
								  <div class="card-body">
								    <h5 class="card-title">Special title treatment</h5>
								    <p class="card-text">
								    	<label for="exampleFormControlInput1" class="form-label">Full Name</label>
								    <i class="fa fa-user icon"></i>
						    	<input type="text" class="form-control " id="exampleFormControlInput1" placeholder="alex">
         					<div style="max-width:400px;margin:auto">
						        <div class="input-icons">
						            
						            <input class="input-field" type="text">
						            <i class="fa fa-instagram icon"></i>
						            <input class="input-field" type="text">
						            <i class="fa fa-envelope icon"></i>
						            <input class="input-field" type="text">
						            <i class="fa fa-youtube icon"></i>
						            <input class="input-field" type="text">
						            <i class="fa fa-facebook icon"></i>
						            <input class="input-field" type="text">
						        </div>
						      </div>
						    </p>
						    <a href="#" class="btn btn-primary">Go somewhere</a>
						  </div>
						</div>
					</div>

					<div class="col-md-6">
						<h3 style="color:black;font-size: 28px;">WELCOME TO T.R MOTOR DRIVING SCHOOL</h3>

						
					</div>



								
					</div>	
				</div>
		</section> -->
					

					<!-- <div class="col-md-6">
						<p style="color:white;font-size: 28px;">WELCOME TO T.R MOTOR DRIVING SCHOOL</p>
						
					</div> -->

						<div class="col-md-6">

						<p style="color:white;">WELCOME TO T.R MOTOR DRIVING SCHOOL</p>
						
					
				</div>
					


										
					  </div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</section>
	<!-- carousel end -->
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					
					<img src="static/img/a2.jpeg" class="d-block w-100"  style="padding-top: 20px;padding-bottom: 50px;height: 565px;width: 500px; margin-left: 10px 	;" alt="...">
		
				</div>
				<div class="col-md-6 ">
					<h2 style="margin-top:30px;font-family: 'Montserrat'"><b>ABOUT US</b></h2>
					<p style="margin-right:20px;font-family: 'Montserrat';font-size: 19px">T.R Driving School was founded to provide safe and professional driving instruction to new drivers in the Solapur. Years later, we are one of the most well-respected local driving schools in the area. We serve hundreds of students each year and our fully licensed driving school is trusted by adults and teenagers alike to provide a patient, courteous, and safe driving experience.</p>
					<p style="margin-right:30px;font-family: 'Montserrat';font-size: 19px" >Driving is a serious activity that demands responsibility, know-how, and attentiveness from drivers. Our instructors are highly qualified and each of us is skilled in helping even the most nervous of drivers get over their stress and discomfort. Most importantly, we take pride in the quality drivers educated by our school. We want to keep Solapur safe as well as teen and adult drivers alike.</p>
					<a href="Schedule" type="button" class="btn" style="margin-left:30px;height: 50px;width:200px;margin-top:10px;background-color: #ffc107;color: black;font-size: 20px;"><b>Schedule Lesson</b></a>
					<a href="Courses" type="button" class="btn" style="margin-left:30px;height: 50px;width:200px;margin-top:10px;background-color:black;color: white;font-size: 20px;">View Course</a>
					
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- <section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 offset-md-1">
					<h2 style="margin-top: 50px;">ABOUT T.R MOTOR DRIVING SCHOOL</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
				</div>

				<div class="col-md-5 offset-md-1">
					
					<img src="static/img/a2.jpeg" class="d-block w-100"  style="padding-top: 50px;padding-bottom: 50px;height: 600px;width: 500px;" alt="...">
		
				</div>
				
			</div>
			
		</div>
	</section> -->
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8" style="background-color: #ffc107;height: 500px;">
					<ul style="margin-left: 110px;font-size: 40px;color: black;font-family: 'Montserrat';margin-top:40px"><b style="margin-left:150px;">OUR MISSION</b>
						<li style="font-size: 22px;color: black;font-family: 'Montserrat';margin-top: 30px;">To provide professional, informed, and comfortable instruction that turns new or inexperienced drivers into safe, collision-free, and confident drivers.</li>
						<li style="font-size: 22px;color: black;font-family: 'Montserrat';">To create a fun environment for instructors and students that fosters valuable learning and hands-on experience.</li>
						<li style="font-size: 22px;color: black;font-family: 'Montserrat';">To teach our students to take the consequences of their actions seriously and respect the road.</li>
						<li style="font-size: 22px;color: black;font-family: 'Montserrat';">To inform previous drivers with mediocre driving skills of the best defensive driving skills that will keep them free of collisions and tickets for life.</li>
					</ul>

					
				</div>
				<div class="col-md-4" style="background-color: grey;height: 500px;">
					<!-- <h1 style="color:white">WHAT WE OFFER</h1> -->
					<ul style="margin-left: 30px;font-size: 40px;color: white;font-family: 'Montserrat';margin-top:40px"><b style="margin-left:25px;">WHAT WE OFFER</b>
						<li style="font-size: 22px;color: white;font-family: 'Montserrat';margin-top: 30px;">Expert Driver Preperation</li>
						<li style="font-size: 22px;color: white;font-family: 'Montserrat';margin-top: 30px;">Road Test Preperation</li>
						<li style="font-size: 22px;color: white;font-family: 'Montserrat';margin-top: 30px;">Educative Theoretical Sessions</li>
						<li style="font-size: 22px;color: white;font-family: 'Montserrat';margin-top: 30px;">Written Test Preperation</li>
					</ul>

					
				</div>
				
			</div>
			
		</div>
	</section>

	<section>
      <div class="container">
       <div class="row">
          <h1 class="mt-4 mb-2"><center style="font-family: 'Montserrat'">What Our Clients Says<br> About Us</center></h1>
          <p><center style="font-size:18px;color:grey;font-family: 'Montserrat'">The school offers the following services for Teenage first-time drivers, new<br>
					adult learners and existing drivers with lapsed licenses..</center></p>
					<center><hr style="color:black;width: 700px;height: 2px;"></center>
           
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="card-group">
                   
                    <div class="col-md-4" >
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat';">
                          <i>Tejasvi is a fantastic instructor and she made feel really comfortable.They focused on everything important and when it came it came test time my parents wasn't nervous at all because she had been trained so well.</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat';">Shivani R. Murde</p>

                         </p>
                        </div>
                      </div>
                    </div>

                  <div class="col-md-4">
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat'">
                          <i>It was great learning experience from my trainer Tejasvi.
                          During training he covered below topics 1: Steering control. 2: Uses of brake and clutch. 3: On road skills. 4: Reverse parking and parallel parking. 5: Mirror uses .</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat'">Archana S. Navale</p>

                         </p>
                        </div>
                      </div>
                    </div>

                  <div class="col-md-4">
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat'">
                          <i>Tejasvi Madam is a really good and is very patient with her students. I had a very good experience  with her. I learned driving very quickly and confidently.I suggest everyone to join T.R Motor Driving School,Solapur.</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat'">Vaishnavi V. Sasture</p>

                         </p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
                   
                <div class="carousel-item">
                  <div class="card-group">
                    <div class="col-md-4">
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat'">
                          <i>T.R Motor driving school is the best driving school in Solapur. Their 10 days advanced course under the guidance of Ms.Tejasvi is the best course for people who want to learn. On request you can also practice in your own car.</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat'">Sam S. Narayankar</p>

                         </p>
                        </div>
                      </div>
                    </div>

                  <div class="col-md-4">
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat'">
                          <i>Learning from MS.Tejasvi from the past 8 days , and she helped me to gain so much confidence that now i feel like i can drive alone, she had provided me with the correct instructions, she also comes on time and provide some of the good tricks.</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat'">Priyanka P. Ayanagar</p>

                         </p>
                        </div>
                      </div>
                    </div>

                  <div class="col-md-4">
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat'">
                          <i>I had a very nice experience with T.R Motor Driving School. My teacher Tejasvi is a very humble and patient guy and is really calm while teaching.I would recommend T.R Motor Driving School to anyone who’s starting out.</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat'">Khushi S. Pardeshi</p>

                         </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card-group">
                    <div class="col-md-4">
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat'">
                          <i>Tejasvi is my driving instructor, and she was kind,respectful,and encouraging. She was kind with her commentary in improvements for my driving, and really helped gain my confidence. I highly recommend T.R Motor Driving school.</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat'">Rekha B. Pawar</p>

                         </p>
                        </div>
                      </div>
                    </div>

                  <div class="col-md-4">
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat'">
                          <i>Excellent driving school. The driving instructor that I had was very friendly and understanding. Her calm and encouraging character made it fun to drive and I looked forward to each driving lesson! Thank you Tejasvi mam!</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat'">Manjiri M. Maybhate</p>

                         </p>
                        </div>
                      </div>
                    </div>

                  <div class="col-md-4">
                      <div class="card text-black bg-light mt-3 mb-4 " style="margin-left:10px;height:490px;width: 380px;font-family: 'Montserrat'">
                        <div class="card-body">
                          <center><img src="static/img/slide2.jpg" alt="Avatar" class="avatar">
                          </center><br>
                          <center><img src="static/img/hr1.jpg" height="35px" width="35px"><img src="static/img/hr1.jpg" height="45px" width="45px"><img src="static/img/hr1.jpg" height="35px" width="35px"></center>
                   
                          <p class="card-text mt-4 mb-2" style="color:black;text-align: center;font-family: 'Montserrat'">
                          <i>I highly recommend T.R Motor Driving School. Great instructors. My instructor went the extra mile to encourage and support me. She was patient, knowledgeable and full of encouragement.Thank you Tejasvi.</i></p><br>
                          <p style="font-size:24px;text-align:center;color:black;font-family: 'Montserrat'">Aarti R. Ravale</p>

                         </p>
                        </div>
                      </div>
                    </div>
                </div>
                   
              </div>
            </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
         
      </div>
     </div>
    </section>

	<section>
		<div class="container-fluid">
			<div class="row" style="background-color:#5e6266;height: 350px;color: white;font-size: 24px;">
				<!-- <div class="col-md-12" style="margin-top:30px"> -->
					
					<div class="single-facts text-center col-md-3 col-sm-6 col-12 mb-30" style="margin-top: 60px;">
						<cnter><img src="static/img/completed.jpg" height="70px" width="70px"></cnter>
						<cnter><p style="font-size:34px;margin-left:7px">500+</h1></cnter>
						<center><hr style="color:white;height: 2px;width: 100px;"></center>
						<p>Completed training</p>
					</div>

					<div class="single-facts text-center col-md-3 col-sm-6 col-12 mb-30" style="margin-top: 60px;">
						<center><img src="static/img/time2.jpg" height="70px" width="70px"></center>
						<center><p style="font-size:34px;margin-left:7px">4+</p></center>
						<center><hr style="color:white;height: 2px;width: 100px;"></center>
						<p>Years on Market</p>	
					</div>

					<div class="single-facts text-center col-md-3 col-sm-6 col-12 mb-30" style="margin-top: 60px;">
						<center><img src="static/img/instructor1.jpg" height="70px" width="70px"></center>
						<center><p style="font-size:34px;margin-left:7px">10+</p></center>
						<center><hr style="color:white;height: 2px;width: 100px;"></center>
						<p>Instructors</p>
					</div>

					<div class="single-facts text-center col-md-3 col-sm-6 col-12 mb-30" style="margin-top: 60px;">
						<center><img src="static/img/present.jpg" height="70px" width="70px"></center>
						<center><p style="font-size:34px;margin-left:8px">50+</p></center>
						<center><hr style="color:white;height: 2px;width: 100px;"></center>
						<p>Present Students</p>	
					</div>
				
				
					<!-- <p><center>Satisfaction guaranteed!</center>
					<center>Our classes easily fit into your schedule.</center>
					<center>For many years, we have been helping people of all ages learn to drive.</center></p>
					<center><a href="#card1" type="button" class="btn btn-warning" style="margin-bottom:20px;font-size: 18px;">Request an Appointment !</a></center> -->
					
				</div>
				
				
			</div>
			
		</div>
	</section>
	<!-- <section>
		<div class="container-fluid">
			<div class="row" style="background-color:#5e6266;height: 200px;padding-top: 100px;">
				<div class="col-md-4">
					<h6>100+ students</h6>
	
				</div>
				<div class="col-md-4">
					<h6>100+ lectures</h6>
	
				</div>
				<div class="col-md-4">
					<h6>100+ students</h6>
	
				</div>
				
			</div>
			
		</div>
	</section> -->
	
	<footer>
	<section>
		<div class="container-fluid">
			<div class="row c5">
				<div class="col-md-3 quick">
					<h4>Quick Links</h4>
					<p style="font-size:17px"><a href="Home"  style="text-decoration: none;
		color: white;">Home</a><br>
					<a href="About"  style="text-decoration: none;
		color: white;" >About us</a><br>
					<a href="Courses"  style="text-decoration: none;
		color: white;" >Courses</a><br>
					<a href="Blog"  style="text-decoration: none;
		color: white;" >Blog</a><br>
					<a href="Services"  style="text-decoration: none;
		color: white;" >Our Services</a><br>	
					<a href="Road"  style="text-decoration: none;
		color: white;">Road Test Preperation</a></p>
				</div>
				<div class="col-md-3 navigation">
					<h4>Navigation</h4>
					
					<p style="font-size:17px"><a href="Licence"  style="text-decoration: none;
		color: white;">Licence Enquiry</a><br>
					<a href="Testimonials"  style="text-decoration: none;
		color: white;">Test Drives</a><br>
					<a href="#"  style="text-decoration: none;
		color: white;">Extra Driving Practices</a><br>
					<a href="Contact"  style="text-decoration: none;
		color: white;" >Contact Us</a><br>
					<a href="Feedback"  style="text-decoration: none;
		color: white;">Feedback</a><br>
					<a href="Term"  style="text-decoration: none;
		color: white;">Terms & Conditions</a>
					
				</div>
				<div class="col-md-3 busin">
					<h4>Business Information</h4>	
					<p style="font-size:17px"><img src="static/img/office.jpg" class="i3"> Office 1<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sundaram Nagar, Vijapur Road<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solapur - 413004</p>
					<p style="font-size:17px"><img src="static/img/office.jpg" class="i3"> Office 2<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;132 Vijay Deshmukh Nagar, Vijapur Road &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solapur - 413004<br>
					<img src="static/img/gmail.jpg" class="i3">: tr.driving.school11@gmail.com<br>
					<img src="static/img/call.jpg" class="i3">: +91 8080058363<br>
					<img src="static/img/whatsapp.jpg" class="i3">: +91 8007839944 </p>
					<!-- <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/facebook.jpg" height="24px" width="24px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/youtube.jpg" height="20px" width="20px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/instagram.jpg" height="20px" width="20px"></p>
 -->
					
				</div>
				<div class="col-md-3 hour">
					<h4>Hours</h4>	
					<p style="font-size:17px">Appointment Hours:<br>
					10:00 AM - 6:00 PM<br>
					Training Hours(Morning):<br>
					7:00 AM - 11:00 AM<br>
					Training Hours(Evening):<br>
					3:00 PM - 7:00 PM</p>

					
				</div>
				<p style="font-size:22px">Connect with us :
				&nbsp;&nbsp;<a href="https://www.facebook.com/TR-MOTAR-Driving-School-Solapur-103840701387802/?ti=as"><img src="static/img/facebook.jpg" style="height:25px;width:30px;margin-right:10px"></a>
				<a href="#"><img src="static/img/instagram.jpg" style="height:25px;width:30px;margin-right:10px"></a>
				<a href="https://youtube.com/channel/UC9eGzlFSjTjMXeAgYWLCnOQ"><img src="static/img/youtube.jpg" style="height:35px;width:35px"></a>
			  <a href="#"><img src="static/img/snap.jpg" style="height:30px;width:30px;margin-left:10px"></a></p>

				
			</div>
		    
		</div>

	</section>
	<!-- footer end -->
	<div>
		<center><p style="background-color:#494754;color: white;height: 70px;font-family: 'Montserrat'"><br>&copy;2022 TR Motor Driving School. All Rights Reserved.</p></center>	
	</div>
	
</footer>


</body>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</html>